.kanban-column {
    float: left;
    width: 100%;
    padding: .5em;
    background-color: #c0f3b5;
}

.kanban-column-head {
    font-weight: bold;
    font-size: 2em;
}

.kanban-order {
    border: solid #5e5d52 1px;
    background-color: beige;
    padding: 1em;
    margin: .5em 0;
    background-position: 99% 90%;
    background-repeat: no-repeat;
    background-size: 40px;
}

.kanban-order-blocked {
    border: solid darkred 1px;
    background-color: #ebccd1;
    padding: 1em;
    margin: .5em 0;
}

.kanban-order-id {
    color: darkblue;
    float: left;
}

.kanban-order-area {
    font-weight: bold;
    float: right;
}

.kanban-order-manager {
    font-style: italic;
}

.kanban-order-consumes {
    overflow: hidden;
    clear: both;
}

.kanban-selected-order {
    border: solid black 1px;
    background-color: #e8e8e8;
    padding: 1em;
    margin: .5em 0;
}

.warning-icon {
    width: 20px;
    float: left;
    margin-right: 2px;
}