.kanban-column {
    float: left;
    width: 100%;
    padding: .5em;
    background-color: #c0f3b5;
}

.kanban-column-head {
    font-weight: bold;
    font-size: 2em;
}

.kanban-order {
    border: solid #5e5d52 1px;
    background-color: beige;
    padding: 1em;
    margin: .5em 0;
    background-position: 99% 90%;
    background-repeat: no-repeat;
    background-size: 40px;
}

.kanban-order-blocked {
    border: solid darkred 1px;
    background-color: #ebccd1;
    padding: 1em;
    margin: .5em 0;
}

.kanban-order-id-doc {
    float: left;
}

.kanban-order-id {
    color: gray;
    font-weight: bold;
}

.kanban-order-document {
    color: #2e6da4;
}

.kanban-order-area {
    font-weight: bold;
}

.kanban-order-manager {
    font-style: italic;
    float: right;
}

.kanban-order-consumes {
    overflow: hidden;
    clear: both;
}

.kanban-selected-order {
    border: solid black 1px;
    background-color: #e8e8e8;
    padding: 1em;
    margin: .5em 0;
}

.warning-icon {
    width: 20px;
    float: left;
    margin-right: 2px;
}

.btn-circle, .btn-circle:hover {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 4px 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.428571429;
    border-radius: 15px;
    cursor: default;
}

